
.background_object_home {background-image: url(../image/background/Background_WebEvent_Home.png);}
.background_object_vault {background-image: url(../image/background/Background_WebEvent_Vault.png);}
.background_object_preview {background-image: url(../image/background/Background_WebEvent_Preview.png);}
.background_object_clashsquad {background-image: url(../image/background/Background_WebEvent_ClashSquad.png);}
.background_object_wipeout {background-image: url(../image/background/Background_WebEvent_WipeOut.png);}
.background_object_pointsgrab {background-image: url(../image/background/Background_WebEvent_PointsGrab.png);}
.background_object_parkour {background-image: url(../image/background/Background_WebEvent_Parkour.png);}
.background_object_rush {background-image: url(../image/background/Background_WebEvent_Rush.png);}
.background_object_droidapocalypse {background-image: url(../image/background/Background_WebEvent_DroidApocalypse.png);}
.background_object_endurance {background-image: url(../image/background/Background_WebEvent_Endurance.png);}
.background_object_hideandseek {background-image: url(../image/background/Background_WebEvent_HideAndSeek.png);}
.background_object_gunking {background-image: url(../image/background/Background_WebEvent_Gunking.png);}
.background_object_contestcanvas {background-image: url(../image/background/Background_WebEvent_ContestCanvas.png);}
.background_object_custom {background-image: url(../image/background/Background_WebEvent_Custom.png);}
.background_object_ramadhan {background-image: url(../image/background/Background_WebEvent_Ramadhan.png);}
