
@font-face {
  font-family: Regular;
  src: url(../font/latin/GFF-Latin-Regular)
}

@font-face {
  font-family: Medium;
  src: url(../font/latin/GFF-Latin-Medium)
}

html {
  background: black url(../image/background/Background_WebEvent_Home.png) center fixed;
  background-size: cover;
  color: white;
  font-family: Regular;
}

.main span {
  display: flex;
  margin: -5px;
}
.main_title_icon {
  position: absolute;
  left: 35%;
  margin-top: 3%;
  z-index: 1;
}

.main_title_icon2 {
  position: absolute;
  left: 20%;
  margin-top: 33%;
  z-index: 2;
}
